// paleta de colores//

$color-principal-1: goldenrod;
$color-principal-2: rgb(0, 58, 0);
$color-secundario-1: gold;
$color-secundario-2: rgba(0, 58, 0, 0.408);
$color-secundario-3: rgb(210, 151, 3);
$color-fondo: linear-gradient(goldenrod, rgb(210, 151, 3));
//tipografia//
$tipografia: 'Ysabeau Infant', sans-serif;
$grosor: bolder;
//tamaño px//
$cuatrovente: 420px;
$tresveinte: 320px;
$dieciocho: 18px;
$diez: 10px;
$cinco: 5px;
$cincuenta: 50px;
$veinte: 20px;
//textos//
$centrado: center;
//tamaños//
$trescuartos: 75%;
$mitad: 50%;
$total: 100%;
//sombreado//
$sombra: 2px 2px rgb(0, 58, 0);
$sombra-dos: 2px 2px gold;
$sombra-tres: 2px 2px black;
//bordes//
$borde: 2px solid rgb(0, 58, 0);
$borde-dos: 1px solid goldenrod;
$borde-tres: 2px 2px goldenrod;
//display//
$no: none;
$bloque: block;
$relativo: relative;
$fixed: fixed;




